/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/_reset.scss */
body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 13, ../sass/_reset.scss */
body {
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 40, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
.secondary div, .secondary span, .secondary applet, .secondary object, .secondary iframe,
.secondary h1, .secondary h2, .secondary h3, .secondary h4, .secondary h5, .secondary h6, .secondary p, .secondary blockquote, .secondary pre,
.secondary a, .secondary abbr, .secondary acronym, .secondary address, .secondary big, .secondary cite, .secondary code,
.secondary del, .secondary dfn, .secondary em, .secondary img, .secondary ins, .secondary kbd, .secondary q, .secondary s, .secondary samp,
.secondary small, .secondary strike, .secondary strong, .secondary sub, .secondary sup, .secondary tt, .secondary var,
.secondary b, .secondary u, .secondary i, .secondary center,
.secondary dl, .secondary dt, .secondary dd, .secondary ol, .secondary ul, .secondary li,
.secondary fieldset, .secondary form, .secondary label, .secondary legend,
.secondary table, .secondary caption, .secondary tbody, .secondary tfoot, .secondary thead, .secondary tr, .secondary th, .secondary td,
.secondary article, .secondary aside, .secondary canvas, .secondary details, .secondary embed,
.secondary figure, .secondary figcaption, .secondary footer, .secondary header, .secondary hgroup,
.secondary menu, .secondary nav, .secondary output, .secondary ruby, .secondary section, .secondary summary,
.secondary time, .secondary mark, .secondary audio, .secondary video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* line 55, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
.secondary table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 57, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
.secondary caption, .secondary th, .secondary td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 59, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
.secondary q, .secondary blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
.secondary q:before, .secondary q:after, .secondary blockquote:before, .secondary blockquote:after {
  content: "";
  content: none;
}
/* line 61, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
.secondary a img {
  border: none;
}
