// PAGE STYLES

$link-txt: white;
$link-bg: #3f8abf;

@mixin mobley {
	@media (min-width: 0) and (max-width: 768px) {
		padding-right: 8%;
		padding-left: 8%;
	}
	@media (min-width: 769px) {
		padding-left: 25%;
		padding-right: 25%;
	}
}
* {
	@include box-sizing(border-box);
}
body {
	color: #222;
	background-color: #edeff0;
}
.main-content {
	padding-top: 48px;
	padding-bottom: 10%;
	@include mobley;
}
.main-header {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #384047;
	@include mobley;
}
%head-links {
	display: block;
	color: $link-txt;
	text-align: center;
	text-decoration: none;
	padding: 5px 15px;
	border-radius: 5px;
}
.main-logo {
	background-color: #3ac162;
	@extend %head-links;
	@include single-text-shadow(rgba(0,0,0,.3), 0, 1px, 0);
}
.main-nav {
	a {
		background-color: $link-bg;
		@extend %head-links;
	}
	li {
		@media (min-width: 0) and (max-width: 768px) {
			margin-top: 12px;
		}
	}
}
.main-footer {
	font-size: .85em;
	padding: 2.5em 0;
	text-align: center;
	background-color: #b7c0c7;
}