/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/_page.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/_page.scss */
body {
  font: 1.1em/1.6 sans-serif;
  color: #222;
  background-color: #edeff0;
}

/* line 15, ../sass/_page.scss */
h1 {
  font-size: 1.8em;
  margin: 1em 0 1.2em 0;
}

/* line 19, ../sass/_page.scss */
h2 {
  font-size: 1.5em;
  margin: 1em 0 1.2em 0;
}

/* line 23, ../sass/_page.scss */
h3 {
  font-weight: bold;
  margin: 1em 0 1.2em 0;
}

/* line 27, ../sass/_page.scss */
p {
  margin-bottom: 1em;
}

/* line 30, ../sass/_page.scss */
.main-content {
  padding: 20px 40px 20px 40px;
}

/* line 33, ../sass/_page.scss */
.main-header {
  padding: 20px 40px 20px 40px;
  background-color: #384047;
}

/* line 37, ../sass/_page.scss */
.main-logo a, .main-nav a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 5px;
}

/* line 45, ../sass/_page.scss */
.main-logo a {
  background-color: #3ac162;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

/* line 51, ../sass/_page.scss */
.main-nav a {
  background-color: #3f8abf;
}
@media (min-width: 0) and (max-width: 768px) {
  /* line 55, ../sass/_page.scss */
  .main-nav li {
    margin-top: 12px;
  }
}

/* line 61, ../sass/_page.scss */
.main-footer {
  font-size: .85em;
  padding: 2.5em 0;
  text-align: center;
  height: 100px;
  background-color: #b7c0c7;
}

/* line 10, ../sass/_layout.scss */
.main-header {
  overflow: hidden;
  *zoom: 1;
}

@media (min-width: 769px) {
  /* line 13, ../sass/_layout.scss */
  .main-logo {
    float: left;
  }
}

@media (min-width: 769px) {
  /* line 18, ../sass/_layout.scss */
  .main-nav {
    float: right;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1;
  }
  /* line 62, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .main-nav li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  /* line 49, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .main-nav li:first-child {
    padding-left: 0;
  }
  /* line 50, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .main-nav li:last-child {
    padding-right: 0;
  }
  /* line 52, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
  .main-nav li.last {
    padding-right: 0;
  }
}

/* line 10, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
.container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -150px;
}
/* line 18, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
.container .root-footer {
  height: 150px;
}

/* line 20, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
.main-footer {
  clear: both;
  position: relative;
  height: 150px;
}

@media (min-width: 769px) {
  /* line 30, ../sass/_layout.scss */
  .main-content {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 3em;
    -webkit-column-gap: 3em;
    column-gap: 3em;
    -moz-column-rule: 1px solid #ccc;
    -webkit-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
  }
  /* line 35, ../sass/_layout.scss */
  .main-content h2, .main-content h3 {
    -moz-column-span: all;
    -webkit-column-span: all;
    column-span: all;
  }
}

/* line 7, ../sass/_type.scss */
.main-content a {
  color: #3f8abf;
}
/* line 18, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.main-content a:visited {
  color: inherit;
}
/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.main-content a:hover {
  color: #3ac162;
}
/* line 27, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.main-content a:active {
  color: #ff6347;
}

/* line 14, ../sass/_type.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
  -moz-column-span: all;
  -webkit-column-span: all;
  column-span: all;
}

/* line 18, ../sass/_type.scss */
h1, h2 {
  color: #346893;
}

/* line 21, ../sass/_type.scss */
h2, h3, h4 {
  text-transform: uppercase;
  border-top: 1px solid #ccc;
  padding-top: 1.1em;
  font-weight: bold;
}
